/* Heading */
#experience h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: var(--color-primary);
}

.experience__container {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
}

/* Cards */
.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}
.experience__container h3{
   font-weight: 700;
  font-size: 1.5rem;
}

/* Skills grid */
.experience__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.experience__details {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-primary-variant);
  border-radius: 2rem;
  width: 7rem;
  height: 7.5rem;
}

.experience__details h4 {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
}

/* ---------- MOBILE ---------- */
@media screen and (max-width: 600px) {
  .experience__container {
    grid-template-columns: 1fr;
    gap: 1.2rem;
    padding: 1.5rem;
  }

  .experience__content {
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }

  .experience__details {
    width: 6rem;
    height: 6rem;
  }

  .experience__details h4 {
    font-size: 0.8rem;
  }
}

/* ---------- TABLET ---------- */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 100%;
  }
}
